

  <ion-content [fullscreen]="true" color="warning">

      <ion-img src="assets/images/8.png"></ion-img>
      <div style="text-align: center">
      <img src="assets/images/Escudo_DS.png" width="45" height="45" />
      <img src="assets/images/Escudo_CSE.png" width="45" height="45" />
      <img src="assets/images/Escudo_ADG.png" width="45" height="45" />
      <img src="assets/images/Escudo_SG.png" width="45" height="45" />
      <img src="assets/images/Escudo_JS.png" width="45" height="45" />
      <img src="assets/images/Escudo_GFC.png" width="45" height="45" />
      <img src="assets/images/Escudo_SSJ.png" width="45" height="45" />

    </div>
        <div class="p-3 bg-gradient-warning text-white" >
        </div>
        <ion-card-title style="text-align: center">
          Liga de Beisbol Menor 100% Federado
        </ion-card-title>
        

  </ion-content>

  
